In [1]:
import pandas as pd
import numpy as np
import seaborn as sbn
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('./games.csv')

In [3]:
df.head()

,titulo,calificacion,plataformas,categorias,idiomas,fecha_lanzamiento,desarrollador
0,Call of Duty®: Modern Warfare® II - Jack Links...,3.75,Windows|Xbox One|PlayStation 4|PlayStation 5|X...,Acción|FPS / TPS,Inglés,28 de octubre de 2022,Activision
1,Call of Duty®: Modern Warfare® II - Burger K...,3.93,Windows|Xbox One|PlayStation 4|PlayStation 5|X...,Acción|FPS / TPS,Inglés,28 de octubre de 2022,Activision
2,Call of Duty®: Modern Warfare® II - Warzone ...,3.86,Windows|Xbox One|PlayStation 4|PlayStation 5|X...,Acción|FPS / TPS,Inglés,28 de octubre de 2022,Activision
3,Xbox Game Pass Ultimate – 2 Month TRIAL Subscr...,2.50,Windows|Xbox One|Xbox Series X,NaN,NaN,9 de junio de 2019,Microsoft Studios
4,Apple iTunes Gift Card 50 USD iTunes Key UNITE...,4.32,NaN,NaN,NaN,28 de abril de 2003,Apple Inc.

In [4]:
df.dtypes

titulo                object
calificacion         float64
plataformas           object
categorias            object
idiomas               object
fecha_lanzamiento     object
desarrollador         object
dtype: object

In [5]:
exclusion_desarrolladores = ['2.0GHz', '1 GB RAM', 'i5-3570 3.4 GHz 4 Core', '2.0GHz']

In [6]:
df = df[~df['desarrollador'].isin(exclusion_desarrolladores)]

## Cuál es el desarrollador que tiene el menor promedio en la calificación de sus juegos?

In [7]:
calificaciones_desarrolladores = df.groupby(['desarrollador']).mean()

In [8]:
calificaciones_desarrolladores.reset_index(inplace=True)

In [9]:
calificaciones_desarrolladores

                                         desarrollador  calificacion
0                                                 1 GB      3.333333
1    1 GB RAM (Windows XP®,) 2 GB RAM (Windows Vista®)      0.000000
2                           1 Gb dedicated, model 3.0+      4.140000
3                                    1 gigahertz (GHz)      0.000000
4                                             1+GB RAM      0.000000
..                                                 ...           ...
565  i3-4170 @ 3.7Ghz OR i5-750 @ 2.67Ghz OR AMD FX...      3.666000
566                                        id Software      4.712500
567                     id Software, Avalanche Studios      3.000000
568                                          tinyBuild      5.000000
569                                          worm club      0.000000

[570 rows x 2 columns]

In [10]:
calificaciones_desarrolladores.sort_values(by='calificacion', inplace=True)

In [12]:
top_desarrolladores = calificaciones_desarrolladores[:10]
top_desarrolladores.reset_index(inplace=True)
top_desarrolladores

   index   desarrollador  calificacion
0    569       worm club           0.0
1    391       Powerhoof           0.0
2    389    Plitka Games           0.0
3    387        PlayDead           0.0
4    385       Pixellore           0.0
5    384      Pixel Reef           0.0
6    139    Code Mystics           0.0
7    380  People Can Fly           0.0
8    375      Paper Cult           0.0
9    374    Panic Button           0.0